.button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-height: 55px;
  padding-left: 80px;
  padding-right: 80px;
  text-decoration: none;
  text-transform: uppercase;

  @include text(#000000, 15px, 25px);
  font-weight: normal;
  cursor: pointer;
}

.button__play {
  margin-left: 225px;

  &--hell {
    color: #ffffff;
    background: url("../img/play-bg.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  &--night {
    background: url("../img/play-bg2.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  &--mirrors {
    background: url("../img/play-bg3.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  &:active {
    outline: none;
    box-shadow: inset 0px 0px 44px 0px rgba(0,0,0,0.75);
  }
}

@media (min-width: $tablet-widths) {
  .button {
    margin-left: 430px;
  }
}
