.button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-height: 55px;
  margin-left: 225px;
  padding-left: 80px;
  padding-right: 80px;
  text-decoration: none;
  text-transform: uppercase;

  @include text(#000000, 15px, 25px);
  font-weight: normal;
  cursor: pointer;
}

.button__play--hell {
  color: #ffffff;
  background: url("../img/play-bg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

.button__play--night {
  background: url("../img/play-bg2.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

.button__play--mirrors {
  background: url("../img/play-bg3.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}
