.discography {
  position: relative;
  min-height: 2300px;
  background: url("../img/discography-mob-1x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;

  @media (min-width: 751px) {
    background: url("../img/discography-tab-1x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-widths) {
    min-height: 2600px;
  }

  @media (min-width: 1538px) {
    background: url("../img/discography-descktop-1x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-widths) {
    min-height: 2800px;
    background: url("../img/discography-descktop-1x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

.discography__text {
  text-align: center;
  padding-left: 65px;
  padding-right: 65px;

  @media (min-width: $tablet-widths) {
    font-size: 21px;
    line-height: 36px;
  }

  @media (min-width: $desktop-widths) {
    font-size: 21px;
    line-height: 36px;
  }
}

.discography__text--main {
  margin-bottom: 100px;
}

.discography__text--description {
  padding: 0;
  text-align: left;
  margin-bottom: 50px;
}

.discography__item {
  margin-bottom: 100px;

  @media (min-width: $desktop-widths) {
    display: flex;
  }
}

.discography_album-data {
  @media (min-width: $desktop-widths) {
    width: 48%;
    margin-right: auto;
  }
}

.discography__description {
  @media (min-width: $desktop-widths) {
    width: 48%;
  }
}

.discography__heading {
  font-size: 24px;
  line-height: 25px;
  font-weight: 400;
}

.discography__heading--night-visions {
  padding-right: 200px;

  @media (min-width: $desktop-widths) {
    padding-right: 0;
  }
}

.discography__headin--mirrors {
  padding-right: 160px;

  @media (min-width: $desktop-widths) {
    padding-right: 0;
  }
}

.discography__year,
.discography__heading--album {
  font-weight: bold;
  text-transform: uppercase;
}

.discography__year {
  position: relative;
  margin-bottom: 0;
  opacity: 0.9;

  &::before {
    @include pseudo;
    left: 0;
    top: 30px;
    width: 100%;
    height: 2px;
    background-color: #000000;

    @media (min-width: $tablet-widths) {
      top: 35px;
    }
  }
}
