.discography {
  position: relative;
  min-height: 1850px;
  background: url("../img/discography-mob-1x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

@media (min-width: 751px) {
  .discography {
    background: url("../img/discography-tab-1x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

.discography::before {
  @include pseudo;
  top: 14px;
  left: 30%;
  width: 300px;
  height: 1px;
  background-color: #000000;
}

.discography__text {
  text-align: center;
  padding-left: 65px;
  padding-right: 65px;
}

.discography__text--description {
   padding: 0;
 }

.discography__list {
  @include list-style;
}

.discography__heading {
  font-size: 24px;
  line-height: 25px;
  font-weight: 400;
}

.discography__heading--night-visions {
  padding-right: 200px;
}

.discography__headin--mirrors {
  padding-right: 100px;
}

.discography__year,
.discography__heading--album {
  font-weight: bold;
  text-transform: uppercase;
}

.discography__year {
  position: relative;
  margin-bottom: 0;
  opacity: 0.9;
}

.discography__year::before {
  @include pseudo;
  top: 35px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.discography__text--description {
  text-align: left;
}

@media (min-width: $tablet-widths) {
  .discography::before {
    left: 40%;
  }
}

@media (min-width: 1538px) {
  .discography {
    background: url("../img/discography-descktop-1x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-widths) {
  .discography::before {
    left: 42%;
  }
}
