.header {
  position: relative;
  min-height: 1300px;
  background: url("../img/header-bg-mob-1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.header__menu--nojs {
  display: none;
}

.header__menu {
  position: absolute;
  left: 47%;
  border: none;
  height: 65px;
  width: 65px;
  cursor: pointer;
  z-index: 2;
}

.header__menu--off {
  background-image: url("../img/menu-open.png");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0.5;
  left: 47%;
}

.header__menu--on {
  background-image: url("../img/menu-close.png");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0.5;
  left: 47%;
}

@media (min-width: $tablet-widths) {
  .header {
    background: url("../img/header-bg-tab-1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-widths) {
  .header {
    min-height: 1000px;
    background: url("../img/header-bg-descktop-1x.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }

  .header__menu {
    display: none;
  }
}
