.latter {
  max-width: $max-mobile-widths;

  @media (min-width: $tablet-widths) {
    width: $tablet-widths;
  }

  @media (min-width: $desktop-widths) {
    width: $desktop-widths;
  }
}

.latter__year {
  position: relative;
  font-weight: bold;

  &::after {
    @include pseudo;
    top: 33px;
    left: 0;
    width: 390px;
    height: 1px;
    background-color: #000000;
  }
}

.latter__heading {
  &--description {
    font-size: 23px;
    line-height: 25px;
  }

  &--item {
    text-transform: uppercase;
  }
}

.latter__text {
  text-align: center;
  margin-bottom: 65px;

  &--description {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 72px;
    margin-bottom: 35px;
  }
}

.latter__item {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  background-color: #f5f6f6;
  margin-bottom: 50px;

  @media (min-width: $desktop-widths) {
    display: flex;
    flex-direction: row;
    width: 1200px;
  }
}

.latter__item:nth-child(even) {
  @media (min-width: $desktop-widths) {
    flex-direction: row-reverse;
  }
}

.latter__track {
  @media (min-width: $desktop-widths) {
    width: 600px;
    height: 420px;
  }
}


.latter__description {
  padding: 30px 30px 0 30px;

  @media (min-width: $desktop-widths) {
    width: 600px;
    height: 420px;
  }
}

.latter__wraper,
.latter__widget {
  display: flex;
}

.latter__wraper {
  margin-bottom: 20px;
}

.latter__widget {
  position: relative;
  height: 20px;
  align-self: flex-end;
  margin-bottom: 15px;
}

.latter__data,
.latter__icon {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.latter__data:not(:last-child) {
  margin-right: 20px;
}

.latter__play {
  display: flex;
  position: relative;
  margin-top: -55px;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
}

.latter__toggle1,
.latter__toggle2,
.latter__toggle3 {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  margin-right: auto;
  outline: none;
  border: none;
  background-color: #ffffff;
}

.latter__toggle--play {
  background-color: transparent;
  border: 9px solid transparent;
  border-left: 15px solid #ffffff;
}

.latter__toggle--pause {
  padding: 0;
  width: 5px;
  height: 20px;
  box-shadow: 10px 0 0 0 #ffffff;
}

.latter__playtoggle {
  @include pseudo;
  top: 7px;
  left: 30px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;

  &:active {
    background-color: red;
  }
}

.latter__playbar {
  @include pseudo;
  top: 12px;
  left: 40px;
  width: 380px;
  height: 2px;
  background-color: #ffffff;
}

.latter__playtime {
  padding-top: 3px;

  &--all {
    padding-left: 5px;
    opacity: 0.5;
  }
}
