.latter {
  max-width: $max-mobile-widths;

  @media (min-width: $tablet-widths) {
    width: $tablet-widths;
  }

  @media (min-width: $desktop-widths) {
    width: $desktop-widths;
  }
}

.latter__year {
  position: relative;
  font-weight: bold;

  &::after {
    @include pseudo;
    top: 33px;
    left: 0;
    width: 390px;
    height: 1px;
    background-color: #000000;
  }
}

.latter__heading {
  &--description {
    font-size: 23px;
    line-height: 25px;
  }

  &--item {
    text-transform: uppercase;
  }
}

.latter__text {
  text-align: center;
  margin-bottom: 65px;
}

.latter__item {
  width: 600px;
  margin: 0 auto;
  background-color: #f5f6f6;
  margin-bottom: 50px;
}

.latter__description {
  padding: 30px 30px 0 30px;
}

.latter__wraper,
.latter__widget {
  display: flex;
}

.latter__wraper {
  margin-bottom: 20px;
}

.latter__widget {
  position: relative;
  height: 20px;
  align-self: flex-end;
  margin-bottom: 15px;
}

.latter__widget::before {
  @include pseudo;
  top: 54px;
  left: 30px;
  opacity: 1;
  border: 20px solid transparent;
  border-top: 20px solid #f5f6f6;
}

.latter__data,
.latter__icon {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.latter__data:not(:last-child) {
  margin-right: 20px;
}

.latter__play {
  display: flex;
  position: relative;
  margin-top: -35px;
  color: white;
}

.latter__toggle {
  width: 30px;
  height: 30px;
  margin-right: auto;
}

.latter__toggle--play {
  border-radius: 50%;
}

.latter__toggle--pause {
  border-radius: none;
}

.latter__playtoggle {
  @include pseudo;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  /* background-color: #ffffff; */

  &:active {
    background-color: blue;
  }
}

.latter__playbar {
  @include pseudo;
  top: 10px;
  left: 120px;
  width: 60%;
  height: 3px;
  /* background-color: #ffffff; */

  background-color: green;
}
