.section-heading {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  letter-spacing: 3px;

  &::before {
    @include pseudo;
    z-index: 1;
    left: 20px;
    top: 30px;
    width: 610px;
    height: 2px;
    background-color: #000000;

    @media (min-width: $tablet-widths) {
      left: 145px;
      top: 45px;
      width: 750px;
    }

    @media (min-width: $desktop-widths) {
      left: 345px;
      top: 30px;
      width: 500px;
    }
  }

  &--upcoming-events {
    color: #526e79;
    letter-spacing: 6px;

    &::before {
      left: 75px;
      width: 500px;
      height: 1px;

      @media (min-width: $tablet-widths) {
        left: 75px;
        width: 930px;
        height: 1px;
      }

      @media (min-width: $desktop-widths) {
        left: 250px;
        width: 700px;
        height: 1px;
      }
    }
  }
}

.section-heading__content {
  position: relative;
  z-index: 2;
  font-family: $heading-font;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  font-weight: normal;

  &--discography {
    background-image: url("../img/discography-descktop-1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    background-clip: text;
    color: transparent;
  }

  &--concert-tours {
    background: linear-gradient(180deg, rgba(119, 157, 166, 1) 55%, rgba(152, 181, 174, 1) 72%);
    background-clip: text;
    color: transparent;
  }
}

@media (min-width: $tablet-widths) {
  .section-heading__content {
    font-size: 75px;
    line-height: 88px;
  }
}

@media (min-width: $desktop-widths) {
  .section-heading__content {
    font-size: 50px;
    line-height: 60px;
  }
}
