.section-heading {
  position: relative;
  margin: 0 auto;
}

.section-heading--discography {
  background-image: url("../img/discography-descktop-1x.jpg");
  background-repeat: no-repeat;
  background-position: 140px;
  background-size: 100%;
  background-clip: text;
  color: transparent;
}

.section-heading__content {
  font-family: $heading-font;
  text-transform: uppercase;
  text-align: center;
}
