.site-nav {
  position: relative;
}

@media (max-width: $max-mobile-widths) {
  .site-nav__list {
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;

    @include list-style;
    display: flex;
    flex-direction: column;
  }

  .site-nav__item {
    text-align: left;
  }
}

.site-nav__item {
  @include text(#92928f, 24px, 45px)
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(247, 246, 245, 0.3);
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.site-nav__item:hover {
  color: #555;
  transform: translateX(-30px);
  border-bottom: 1px solid #92928f;
  background-color: rgba(207, 198, 177, 0.3);
}

@media (min-width: $tablet-widths) {
  .site-nav__list {
    @include list-style;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}

@media (min-width: $desktop-widths) {

}
