.site-nav {
  position: relative;
}

.site-nav__list {
  position: absolute;
  top: 0;
  right: 15%;
  height: 300px;

  @include list-style;
  display: flex;
  flex-direction: column;
}

.site-nav__item {
  @include text(#606060, 17px, 60px);
  text-align: left;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(229, 230, 230, 0.5);
  font-weight: bold;
  border-bottom: 2px solid #000000;
}

.site-nav__item:hover {
  color: #555555;
  transform: translateX(-30px);
  border-bottom: 2px solid #000000;
  background-color: rgba(207, 198, 177, 0.3);
}

@media (min-width: $tablet-widths) {
}

@media (min-width: $desktop-widths) {
  .site-nav__list {
    @include list-style;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .site-nav {
    padding-top: 10px;
    min-height: 60px;
    background-color: rgba(229, 230, 230, 0.5);
  }

  .site-nav__item {
    @include text(#606060, 17px, 40px);
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: none;
  }

  .site-nav__item:hover {
    border-bottom: 2px solid #000000;
  }
}
