.upcoming-events {
  min-height: 1379px;
  padding-top: 25px;
  background: url("../img/uncoming-bg-mob-1x.jpg");
  background-repeat: no-repeat;
  background-position: 30% 5%;

  @media (min-width: $tablet-widths) {
    background: url("../img/uncoming-bg-tab-1x.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-widths) {
    background: url("../img/uncoming-bg-descktop-1x.jpg");
    background-repeat: no-repeat;
  }
}

.upcoming-events__heading {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 25px;

  &::before {
    @include pseudo;
    top: 28px;
    height: 1px;
    width: 120px;
    background-color: #000000;
  }

  @media (min-width: $tablet-widths) {
    font-size: 34px;
    line-height: 35px;

    &::before {
      top: 40px;
      width: 230px;
    }
  }

  @media (min-width: $desktop-widths) {
    font-size: 34px;
    line-height: 35px;
  }
}

.upcoming-events__list {
  padding-left: 150px;
  padding-right: 50px;
  height: 750px;
  overflow: hidden;

  @media (min-width: $tablet-widths) {
    height: 840px;
    padding-left: 280px;
  }

  @media (min-width: $desktop-widths) {
    height: 740px;
  }
}

.upcoming-events__date {
  position: relative;
  color: rgba(0, 0, 2, 0.6);
  font-weight: bold;
  padding-bottom: 155px;

  &::before {
    @include pseudo;
    top: 30px;
    left: 40px;
    height: 150px;
    width: 1px;
    background-color: #000000;
  }

  @media (min-width: $tablet-widths) {
    &::before {
      top: 45px;
      height: 145px;
      width: 1px;
    }
  }

  @media (min-width: $desktop-widths) {
    &::before {
      top: 40px;
      height: 150px;
      width: 1px;
    }
  }
}

.upcoming-events__addres {
  position: relative;
  font-style: normal;
  color: #7a8083;
  padding-bottom: 70px;

  &::before {
    @include pseudo;
    top: 73px;
    left: 40px;
    height: 50px;
    width: 1px;
    background-color: #000000;
  }

  @media (min-width: $tablet-widths) {
    font-size: 24px;
    line-height: 25px;

    &::before {
      top: 95px;
      height: 50px;
      width: 1px;
    }
  }

  @media (min-width: $desktop-widths) {
    font-size: 15px;
    line-height: 25px;

    &::before {
      top: 90px;
      height: 50px;
      width: 1px;
    }
  }
}

.upcoming-events__text {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 70px;

  &::before {
    @include pseudo;
    top: 215px;
    left: 40px;
    height: 50px;
    width: 1px;
    background-color: #000000;
  }

  @media (min-width: $tablet-widths) {
    font-size: 24px;
    line-height: 25px;
    padding-bottom: 100px;

    &::before {
      @include pseudo;
      top: 192px;
      left: 40px;
      height: 50px;
      width: 1px;
    }
  }

  @media (min-width: $tablet-widths) {
    font-size: 24px;
    line-height: 25px;
    padding-bottom: 70px;

    &::before {
      top: 200px;
      height: 50px;
      width: 1px;
    }
  }

  @media (min-width: $desktop-widths) {
    font-size: 15px;
    line-height: 25px;

    &::before {
      top: 120px;
      height: 50px;
      width: 1px;
    }
  }
}
