*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  min-width: $mobile-widths-only;
  font-family: $main-font;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: #7a8083;
  font-size: 15px;
  line-height: 25px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
