
$main-font: "Open Sans", sans-serif;
$heading-font: "Dosis", sans-serif;

$mobile-widths-only: 750px;
$max-mobile-widths: 1536px;
$tablet-widths: 1537px;
$desktop-widths: 2000px;
$retina-dppx: 1.5dppx;
